html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    background-color: #0B614B;
}
#calUniQue123413513 {
    z-index: 10;
    display: inline-block;
    position: absolute;
    top:170px;
    border: 2px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    background-color: #AAD2ED;
    text-align: none;
    max-width: 200px;
    margin: 0;
}
#title {
    position: static;
    color: white;
    top: 0;
    background-color: #0B6138;
    width: 100%;
    text-align: center;
    box-shadow: 0px 4px 2px #333;
    font-size: 30px;
    margin: 0;
    font-style: oblique;
    font-family:"Times New Roman", Times, serif;
}
#menu {
    float:left;
    left: 0;
    top: 0;
    height: 120%;
    width: 150px;
    border-right: 4px;
    border-right-color: #333;
    border-right-style: solid;
    border-right-width: 2px;
    background-color: #0B6121;
    margin-top: 4px;
    display: inline-block;
    margin-right: 0;
    margin-left: 0;
    border-bottom: 2px solid #333;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
#menuTag {
    margin-top: 3px;
    background-color: #071907;
    color: #0B6138;
    border-radius: 2px;
    padding-left: 10px;
}
#menuBox {
    position: relative;
    top: 5%;
}
.menuItem {
    border: 2px;
    border-color: black;
    border-style: solid;
    margin-left: 2px;
    margin-top: 0;
    margin-bottom: 3px;
    background-color: #333;
    color: #C0C0C0;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}
.menuItem:hover {
    color: black;
    background-color: #CCFF99;
}
#containerFrame {
    margin-top: 8px;
    margin-left: 10px;
    position: absolute;
    display: inline-block;
    min-height: 100%;
    width: 89%;
    border-radius: 5px;
    background-color: #0B3B24;
    box-shadow: 2px 6px 20px 10px black;
    text-align: center;
    overflow: auto;
}
#container {
    position: relative;
    display: inline;
    padding: 0;
    color: #CCFF99;
    top: 30%;
}
#welcomeCon {
    position: relative;
    display: inline;
    padding: 0;
    color: #CCFF99;
}
#incomesContainer {
    position: relative;
    display: inline-block;
    color: #CCFF99;
    margin-top: 5px;
    text-align: left;
    width: 100%;
    height: 100%;
}
.financesPick {
    margin-top: 0px;
    margin-right: 50px;
    width: 200px;
    font-size: 80%;
    text-align: center;
    display: inline-block;
    border-radius: 25px;
    padding: 5px;
}
#overlay {
    background-color: rgba(0, 0, 0, 0.01);
    text-align: center;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#overlayCenter {
    position: relative;
    top: 25%;
    vertical-align: top;
    display: inline-block;
}
#addIncomeWindow {
    position: relative;
    float: left;
    display: inline-block;
    background-color: white;
    position: relative;
    /*max-width: 350px;*/
    border: 2px solid;
    /*max-height: 200px;*/
    border-radius: 10px;
}
#addIncomeInputError {
    margin-left: 5px;
    display: inline-block;
    background-color: white;
    text-align: center;
    max-width: 150px;
    position: relative;
    border-radius: 20px;
}
textarea {
    resize: none;
    height: 55px;
    width: 170px;
}
td {
    text-align: right;
}
td.calUniQue123413513 {
    border: 2px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
}
#incomeAddButton {
    color: #CCFF99;
    margin-left: 20px;
    border-radius: 30px;
    background-color: #071907;
    vertical-align: text-top;
    position: relative;
}
#incomeAddButton:focus {
    border: 3px solid black;
}
#incomeAddButton:hover{
    color: #071907;
    background-color: #CCFF99;
}
.anIncome {
    border: 2px;
    border-style: solid;
    display: inline-block;
    height: 300px;
    border-radius: 15px;
    background-color: #0B6121;
    margin-bottom: 2px;
    margin-top: 0;
    margin-left: 3px;
}
.anIncomeP {
    margin-right: 0px;
    word-wrap: break-word;
    vertical-align: bottom;
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    background-color: #071907;
}
.anIncomeNote {
    margin-top: 2%;
    height: 100px;
    margin-bottom: 10px;
    overflow: hidden;
    width: 270px;
}
.anIncomeDescription {
    margin-top: 10%;
}
#showMonthAndYearLabel {
    margin-right: 7px;
    margin-left: 7px;
    display: inline-block;
    text-align: center;
    width: 128px;
}
#incomeAddButtonText {
    position: relative;
    cursor: pointer;
}
#showMonthAndYear {
    background-color: #335C33;
    position: relative;
    text-align: center;
    display: block;
}
#tabs {
    width: 99.95%;
    text-align: left;
    background-color: #339933;
    border-radius: 5px;
    height: 52px;
}
#tabFrame {
    position: relative;
    border-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-color: #071907;
    height: 24px;
}
.tab {
    position: relative;
    display: inline-block;
    border: 2px;
    border-style: solid;
    border-color: #071907;
    text-align: center;
    margin: 0;
    height: 19px;
    cursor: pointer;
    color: #001C00;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
}
#incomes {
    margin-top: 3px;
    margin-left: 5px;
}

#selectorsWrapper{
    position: absolute;
    width: 450px;
    text-align: left;
}

#cAndAChooserWraper {
    width: 450px;
}
#catSelectorWrapper,#accSelectorWrapper {
    position: absolute;
    display: inline-block;
    background-color: white;
    border-radius: 20px;
    font-size: 15px;
    margin-top: 8px;
    visibility: hidden;
    margin-right: 0;
    z-index: 1;
}

#accSelectorWrapper{
    right: 80px;
}

#topMenu{
    top: 3px;
    text-align: center;
    background-color: #335C33;
    position: relative;
    visibility: hidden;
    min-width: 880px;
}
#topMenu div:first-child{
    float:left;
    padding-right: 10%;
}
#topMenu div:last-child{
    float:right;
}
#topMenu div:nth-child(2){
    display: inline;
    position: relative;
}
#selectCatButt{
}
#selectAccButt{
    position: relative;
    left: 100px;
}